<!DOCTYPE html>
<html>
<head>
    <title><%= title %> Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include templates/header.ejs %>

<h3> This is the <%= title %> page</h3>
</body>
</html>
